body{
    font-family: 'Padauk', serif;
    font-weight: 400;
    background: #e8f5e9;
}

h1,h3,h4,h5,h6{
    font-family: 'Anton';
    font-weight: 700;
}
h2{
  font-family: 'Fira Sans';
    font-size: 22pt;
    margin-bottom: 20px;
}

span#lugar{
    font-weight: 700;
}

div#mapid{ /* "#" es id y "." cuando es class*/
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
p.bajada{
    font-size: 13pt;
}